@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --app_font: Arial;
  --editor_font: Arial;
  --text_color: #fff;
  --editor_font_size: 0.9rem;

  --left_panel_color: #202020;
  --view_color: #191919;
  --settings_panel_color:#202020;
  --border_color: #525252;
  --markdown_pre_color: #131313;
  --hightlight_color: #98f1ff1f;
}

body{
    font-size: 15px;
}

::selection {
  background: #234779;
}

.app_font {
  font-family: var(--app_font);
}

.editor_font {
  font-family: var(--editor_font);
}

.text_color {
  color: var(--text_color);
}

.editor_font_size{
  font-size: var(--editor_font_size);
}

/* themes */

.left_panel_color{
  background-color: var(--left_panel_color);
}

.view_color{
  background-color: var(--view_color);
}

.settings_panel_color{
  background-color: var(--settings_panel_color);
}

.border_color{
  border-color: var(--border_color);
}

.bg_as_border_color{
  background-color: var(--border_color);
}

.dialog{
  background-color: var(--left_panel_color);
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: var(--markdown_pre_color);
}

.markdown-body .highlight_text {
  padding: 1px 2px;
  border-radius: 3px;
}

/* overwrite css*/
ol, ul, menu{
  list-style-type: inherit;
}

::-webkit-scrollbar {
  width: 7px;
  height:7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  opacity: 0.05;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover{
  border: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
} 