@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --app_font: 'Arial'
  --editor_font: 'Arial'
  --text_color: '#fff'
}

.app_font {
  font-family: var(--app_font);
}

.editor_font {
  font-family: var(--editor_font);
}

.text_color {
  color: var(--text_color)
}

/* overwrite css*/
ol, ul, menu{
  list-style-type: inherit;
}