@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --app_font: 'Arial'
  --editor_font: 'Arial'
}

.app_font {
  font-family: var(--app_font);
}

.editor_font {
  font-family: var(--editor_font);
}